body {
  margin: 0;
  padding: 0;
}
.wrapper {
  position: flex;
  position: relative;
  width: 204px;
  height: 475px;
  margin: 0 auto;
}
.header {
  height: 300px;
  width: 500px;
  background: #ddaaaa;
}
.left {
  float: left;
  width: 162px;
  height: 198px;
  padding: 5px;
  background: #d9d9d9;
}

.middle {
  float: right;
  width: 162px;
  height: 198px;
  padding: 5px;
  background: #d9d9d9;
  margin-bottom: 100px;
}

.right {
  width: 162px;
  height: 198px;
  margin-left: 170px;
  margin-right: 170px;
  padding: 5px;
  background: #d9d9d9;
}
